project_name                  = "document-processing-platform"
environment                   = "dev"
aws_region                    = "us-east-1"
documents_bucket_force_destroy = true
lambda_artifacts_bucket       = "document-processing-artifacts-dev"
lambda_artifacts_prefix       = "lambdas/dev"

# Opcional: sobrepor chave S3 por funcao
# lambda_artifact_keys = {
#   upload       = "lambdas/dev/upload.zip"
#   ocr          = "lambdas/dev/ocr.zip"
#   thumbnail    = "lambdas/dev/thumbnail.zip"
#   validation   = "lambdas/dev/validation.zip"
#   merge_results = "lambdas/dev/merge_results.zip"
#   metadata     = "lambdas/dev/metadata.zip"
#   notification = "lambdas/dev/notification.zip"
# }
